numpy
pandas
kagglehub
scikit-learn
matplotlib
seaborn
opencv-python
opencv-contrib-python
torch
torchvision
torchaudio
tqdm
albumentations
pycocotools
shapely
scipy
scikit-image
Pillow
tensorboard
yacs
jupyter
notebook
ipykernel
imageio
pyyaml
requests

